{% extends 'concept_listings.html' %}

{% block language_selector %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='alphabetic' %}
{% endblock %}

{% block header %}
  <h1>Alphabetic listing of terms</h1>
{% endblock %}

{% block letter_pagination %}
  <a href="{% url 'alphabetic' language.code %}?letter=0">all</a>
  {% for letter in letters %}
    {% if letter.1 %}
      <a href="{% url 'alphabetic' language.code %}?letter={{ forloop.counter }}">{{ letter.0 }}</a>
    {% else %}
      {{ letter.0 }}
    {% endif %}
  {% endfor %}
  <a href="{% url 'alphabetic' language.code %}?letter=99">other</a>
{% endblock %}
