{% extends layout_template %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='alphabets' %}

  <h1>{{ language.name }} alphabet</h1>

  {% if letters %}
    <ol class="alphabet-letters clearfix {% if language.rtl %}direction-rtl{% endif %}">
      {% for letter in letters %}
        <li>
          {% for l in letter %}
            <span class="alphabet-letter">{{ l }}</span>
          {% endfor %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="alert">The alphabet information is not available.</p>
  {% endif %}

{% endblock %}
