{% extends 'concept_listings.html' %}

{% block language_selector %}
  {% include 'header.html' with view='alphabetic' %}
{% endblock %}

{% block header %}
  <h1>Alphabetic listing of terms</h1>
{% endblock %}

{% block letter_pagination %}
<div class="letter-pagination">
  List by letters: 
  {% if letter == 0 %}
    <span class="selected-elm">all</span>
  {% else %}
    <a href="{% url 'alphabetic' language.code %}?letter=0">all</a>
  {% endif %}
  {% for letter_tuple in letters %}
    {% if letter == forloop.counter %}
      <span class="selected-elm">{{ letter_tuple.0 }}</span>
    {% elif not letter_tuple.1 %}
      <span class="unavailable-letter">{{ letter_tuple.0 }}</span>
    {% else %}
      <a href="{% url 'alphabetic' language.code %}?letter={{ forloop.counter }}">{{ letter_tuple.0 }}</a>
    {% endif %}
  {% endfor %}
  {% if letter == 99 %}
    other
  {% else %}
    <a href="{% url 'alphabetic' language.code %}?letter=99">other</a>
  {% endif %}
</div>
{% endblock %}
{% block version %}
    {% include 'version.html' with version=ns_version %}
{% endblock %}
