{% extends layout_template %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='alphabets' %}

  <h1>{{ language.name }}'s alphabet</h1>

  <ol class="letter {% if language.rtl %}direction-rtl{% endif %}">
    {% if letters %}
      {% for letter in letters %}
        <li>
          {% for l in letter %}
            {{ l }}
          {% endfor %}
        </li>
      {% endfor %}
    {% else %}
      The alphabet information is not available.
    {% endif %}
  </ol>

{% endblock %}
