{% extends layout_template %}
{% load gemet_tags %}

{% block content %}
  {% block language_selector %}
  {% endblock %}

  {% block header %}
  {% endblock %}

  {% block letter_pagination %}
  {% endblock %}

  {% if concepts|length %}
  <ul class="listing columns split-20 {% if language.rtl %}direction-rtl{% endif %}">
    {% for concept in concepts %}
    <li>
      <a href="{% url 'concept' language.code concept.concept__code %}">{{ concept.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination clearfix">
      <div class="float-right">
        <!-- prev -->
        {% if page_obj.has_previous %}
          <a class="no-visit" href="?page={{ page_obj.previous_page_number }}&letter={{ letter }}">Previous</a>
        {% endif %}
        &ensp;
        <!-- next -->
        {% if page_obj.has_next %}
          <a class="no-visit" href="?page={{ page_obj.next_page_number }}&letter={{ letter }}">Next</a>
        {% endif %}
      </div>

      <!-- pages -->
      Pages:
      {% for page_number in visible_pages %}
        {% if page_number == page_obj.number %}
          {{ page_number }}
        {% else %}
          <a href="?page={{ page_number }}&letter={{ letter }}">{{ page_number }}</a>
        {% endif %}
      {% endfor %}
  </div>
  
  {% else %}
    <p class="alert">No results.</p>
  {% endif %}
{% endblock %}
