{% load gemet_tags %}
<li>
  {% get_expand concept.id expand_list as expand %}
  <a href="{% url 'relations' language.code group_id %}?exp={{ expand.param }}">
    {% if expand.status %}
    -
    {% else %}
    +
    {% endif %}
  </a>
  {% if concept.name %}
    <a href="{% url 'concept' language.code concept.id %}">{{concept.name}}</a>
  {% else %}
    <a href="{% url 'concept' language.code concept.id %}">{% get_default_name concept.id %}</a>[english]
  {% endif %}
  <ul>
    {% if expand.status %}
      {% get_children concept.id language.code as concept_children %}
      {% for concept in concept_children %}
        {% with concept=concept group_id=group_id template_name='concept_snippet.html'%}
          {% include template_name %}
        {% endwith %}
      {% endfor %}
    {% endif %}
  </ul>
</li>
