{% extends 'layout.html' %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=langcode view='concept' id=concept.id %}

  <h3>{{ concept.prefLabel }}</h3>
  <h4>Definiton:{% if not concept.definition %} * {% endif %}</h4>
  <span class="infotext">
    {% if not concept.definition %}
      <span>*Note: </span>
      <span>Definition is not available for the current language</span>
    {% else %}
      {{concept.definition }}
    {% endif %}
  </span>

  {% if concept.broader_concepts %}
    <h4>broader terms</h4>
    <ul>
      {% for cp in concept.broader_concepts %}
        <li>
          <a href="{% url 'concept' langcode cp.id %}">{{ cp.prefLabel }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if concept.children %}
    <h4>narrower terms</h4>
    <ul>
      {% for cp in concept.children %}
        <li>
          <a href="{% url 'concept' langcode cp.id %}">{{ cp.prefLabel }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>Scope note:</h4>
  <span class="infotext">
    {{ concept.scopeNote|default:"scope note is not available" }}
  </span>

  {% if concept.groups %}
    <h4>Groups:</h4>
    <span class="infotext">
      {% for group in concept.groups %}
        {{ group }}
      {% endfor %}
    </span>
  {% endif %}

  {% if concept.themes %}
    <h4>Themes:</h4>
    <span class="infotext">
      {% for theme in concept.themes %}
        {{ theme }}
      {% endfor %}
    </span>
  {% endif %}

  <h4>Other relations:</h4>
  <ul>
    {% for relation in concept.visible_foreign_relations %}
      <li>
        {{ relation.property_type.label }}:
        <a href="{{ relation.uri }}">{{ relation.label }}</a>
      </li>
    {% endfor %}
  </ul>

  <h4>Translations:</h4>
  <ul>
    {% for translation in concept.translations %}
      <li>{{ translation.language.name }}: {{ translation.value }}</li>
    {% endfor %}
  </ul>

  <h4>Concept URL: &lt;{{ concept.url }}&gt;</h4>

{% endblock %}
