{% extends 'layout.html' %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=langcode view='concept' id=concept.id %}

  <h3>{{ concept.prefLabel }}</h3>
    <h4>Definiton:</h4>
      {{ concept.definition|default:"definition is not available" }}

    <h4>Scope note:</h4>
      {{ concept.scopeNote|default:"scope note is not available" }}

    {% if concept.groups %}
      <h4>Groups:</h4>
      {% for group in concept.groups %}
        {{ group }}
      {% endfor %}
    {% endif %}

    {% if concept.themes %}
      <h4>Themes:</h4>
      {% for theme in concept.themes %}
        {{ theme }}
      {% endfor %}
    {% endif %}

    <h4>Other relations:</h4>
      <ul>
        {% for relation in concept.visible_foreign_relations %}
          <li>
            {{ relation.property_type.label }}:
            <a href="{{ relation.uri }}">{{ relation.label }}</a>
          </li>
        {% endfor %}
      </ul>

    <h4>Translations:</h4>
      <ul>
        {% for translation in concept.translations %}
          <li>{{ translation.language.name }}: {{ translation.value }}</li>
        {% endfor %}
      </ul>

{% endblock %}
