{% extends 'layout.html' %}

{% block content %}
  {% block language_selector %}
  {% endblock %}

  {% block header %}
  {% endblock %}

  <ul class="concepts {% if language.rtl %}direction-rtl{% endif %}">
    {% for concept in concepts %}
      <li>
        <a href="{% url 'concept' language.code concept.id %}">{{ concept.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
      {% if concepts.has_previous %}
        <a href="?page={{ concepts.previous_page_number }}&letter={{ letter }}">previous</a>
      {% endif %}

      {% for page_number in concepts.paginator.page_range %}
        {% if page_number == concepts.number %}
          {{ page_number }}
        {% else %}
          <a href="?page={{ page_number }}&letter={{ letter }}">{{ page_number }}</a>
        {% endif %}
      {% endfor %}

      {% if concepts.has_next %}
        <a href="?page={{ concepts.next_page_number }}&letter={{ letter }}">next</a>
      {% endif %}
    </span>
  </div>

  {% block pagination %}
  {% endblock %}

{% endblock %}
