{% extends layout_template %}

{% block title %}
Definition sources used by gemet
{% endblock %}

{% block content %}
    {% include 'header.html' with view='definition_sources' %}


    <h1>Definition Sources</h1>
    {% if definitions %}
    <ol id="definition-sources">
        {% for definition in definitions %}
        <li>
            <strong>{{definition.abbr}}</strong>
            {% if definition.url %}
            <a href="{{definition.url}}">{{definition.url}}</a>
            {% endif %}
            <small>
            {% if definition.author %}
                {{definition.author}} -
            {% endif %}
            {% if definition.title %}
                {{definition.title}},
            {% endif %}
            {% if definition.publication %}
                {{definition.publication}},
            {% endif %}
            {% if definition.place %}
                {{definition.place}},
            {% endif %}
            {% if definition.year %}
                {{definition.year}}
            {% endif %}
            </small>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <p class="alert">Definition sources are not available.</p>
    {% endif %}

{% endblock %}
