{% extends layout_template %}

{% block content %}
  {% include 'header.html' with view='group' id=group.id %}

  <!-- Group -->
  <h3 class="h3">{{ group.name }}</h3>

  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in group.translations %}
      <li class="clearfix">
        <div class="dt">{{ translation.language.name }}</div>
        <div class="dd">{{ translation.value }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Definition -->
  <h5 class="h5 hidden-desktop">Definiton</h5>
  {% if not group.definition %}
    <p class="alert">Definition is not available.</p>
  {% else %}
    <p>{{ group.definition }}</p>
  {% endif %}

  <!-- Broader -->
  {% if group.broader_concepts %}
  <h5 class="h5">Super groups</h5>
  <ul class="listing">
    {% for sg in group.broader_concepts %}
    <li>
      <a href="{% url 'supergroup' language.code sg.id %}">{{ sg.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Concepts -->
  {% if group.groupMember_concepts %}
  <h5 class="h5">Concepts</h5>
  <ul class="listing">
    {% for cp in group.groupMember_concepts %}
    <li>
      <a href="{% url 'concept' language.code cp.id %}">{{ cp.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}


  <!-- Concept URL -->
  <h5 class="h5">Concept URL</h5>
  <p id="concept-url"><a rel="nofollow" href="{{ group.url }}">{{ group.url }}</a></p>

{% endblock %}
{% block version %}
    {% include 'version.html' with version=ns_version %}
{% endblock %}
