{% extends 'layout.html' %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='group' id=group.id %}

  <h3>{{ group.name }}</h3>

  <h4>Definiton:</h4>
  <span class="infotext">
    {% if not group.definition %}
      <span>Definition is not available</span>
    {% else %}
      {{group.definition }}
    {% endif %}
  </span>

  {% if group.groupMember_concepts %}
    <h4>Concepts:</h4>
    <ul>
      {% for cp in group.groupMember_concepts %}
        <li>
          <a href="{% url 'concept' language.code cp.id %}">{{ cp.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if group.broader_concepts %}
    <h4>Super groups:</h4>
    <ul>
      {% for sg in group.broader_concepts %}
        <li>
          <a href="{% url 'supergroup' language.code sg.id %}">{{ sg.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>Translations:</h4>
  <ul>
    {% for translation in group.translations %}
      <li>{{ translation.language.name }}: {{ translation.value }}</li>
    {% endfor %}
  </ul>

  <h4>Concept URL: &lt;{{ group.url }}&gt;</h4>

{% endblock %}
