{% extends layout_template %}

{% block title %}
Groups list
{% endblock %}

{% load gemet_tags %}

{% block content %}
  {% include 'header.html' with view='groups' %}

  <h1>Groups</h1>

  <ul class="listing {% if language.rtl %}direction-rtl{% endif %} no-list">
    {% for supergroup in supergroups %}
      <li>
      <h3 class="h5">{{ supergroup.name }}</h3>

        <ul class="groups">
          {% get_children supergroup.id language.code as supergroup_children %}
          {% for group in supergroup_children %}
            <li>
            <a href="{% url 'relations' language.code group.id %}">{{ group.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block version %}
    {% include 'version.html' with version=ns_version %}
{% endblock %}
