{% extends layout_template %}
{% load gemet_tags %}
{% block title %}
 {% get_concept_name group.name group.id status_values as name %}
 {{ name|striptags }}
{% endblock %}

{% block content %}
  {% include 'header.html' with view='group' code=group.code %}

  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <button class="expand-button"><i class="fa fa-language" aria-hidden="true"></i></button>
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in group.translations %}
      <li class="clearfix">
        <div class="dt">{{ translation.language__name }}</div>
        <div class="dd">{{ translation.value }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Group -->
  <div class="selected-word">
    <span id="prefLabel">
      {% get_concept_name group.name group.id status_values %}
    </span>
    {% if user.is_authenticated %}
      <span>
        <a class="btn btn-primary"
           href="{% url 'group_edit' language.code group.code %}"
           >Edit</a>
      </span>
    {% endif %}
  </div>

<div class="text-area-wrapper">
 <!-- Definition -->
  <div class="text-area" id="definition">
  <div class="text-area">
      <h5 class="h5">Definiton</h5>
  {% if not group.definition %}
    <p class="alert">Definition is not available.</p>
  {% else %}
    <p>{{ group.definition }}</p>
  {% endif %}
  </div>

  <!-- Broader -->
  {% if group.broader_concepts %}
  <div class="text-area">
    <h5 class="h5">Super groups</h5>
    <ul class="listing">
      {% for sg in group.broader_concepts %}
      <li>
        <a href="{% url 'supergroup' language.code sg.concept__code %}">
          {% get_concept_name sg.name sg.id status_values %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <!-- Concepts -->
  {% if group.groupMember_concepts %}
  <div class="text-area">
    <h5 class="h5">Concepts</h5>
    <ul class="listing">
      {% for cp in group.groupMember_concepts %}
      <li>
        <a href="{% url 'concept' language.code cp.concept__code %}">
          {% get_concept_name cp.name cp.id status_values %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  <!-- Concept URL -->
  <div class="text-area">
    <h5 class="h5 h5-url">Concept URL:
    {{ group.url }}
    </h5>
  </div>

  </div>
  </div>

{% endblock %}
{% block version %}
    {% include 'version.html' %}
{% endblock %}
