{% extends 'layout.html' %}

{% block content %}
  Select language:
  {% for langcode in languages %}
  <a href="{% url 'groups' langcode %}">{{ langcode }}</a>
  {% endfor %}

  <h1>Groups list</h1>

  <ul>
    {% for supergroup in supergroups %}
      <li>
        <h2>{{ supergroup.prefLabel }}</h2>

        <ul>
          {% for group in supergroup.children %}
            <li>
              <a href="{% url 'relations' langcode group.id %}">{{ group.prefLabel }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
