<!-- header -->
<div class="gemet-header">
  <!-- title -->
  <div class="header-title">
    <h1>GEMET</h1>
    <small>General Multilingual Environmental Thesaurus</small>
  </div>
  <div class="header-actions">
    <!-- search -->
    <div class="header-search">
      <form method="post" action='{% url 'search' language.code %}' id='search-form' name="search-query" placeholder="Concepts, Groups, Themes...">
        {% csrf_token %}
        <div class="clearfix">
          {{ form }}
          <input type="submit" value="Search"/>
        </div>
      </form>
    </div>
    <!-- language -->
    <div class="header-language">
      <label for="select-language">Select language</label>
      <select name="select-language" id="js-change-language">
        {% for lang in languages %}
          <option value="{{ lang.code }}"
          href="{% if id %}{% url view lang.code id %}{% else %}{% url view lang.code %}{% endif %}"
          {% if language.code == lang.code%}selected="selected"{% endif %}
            >{{ lang.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

</div>

<!-- menu -->
<div class="gemet-menu">
  <a href="{% url 'themes' language.code %}">Thematic Listings</a>
  <!-- &nbsp;|&nbsp; -->
  <a href="{% url 'inspire-themes' language.code %}">INSPIRE Spatial Data Themes</a>
  <!-- &nbsp;|&nbsp; -->
  <a href="{% url 'groups' language.code %}">Hierarchical Listings</a>
  <!-- &nbsp;|&nbsp; -->
  <a href="{% url 'alphabetic' language.code %}">Alphabetic Listings</a>
  <!-- &nbsp;|&nbsp; -->
  <!-- <a href="{% url 'search' language.code %}">Search Thesaurus</a> -->
</div>
<!--/header -->
