{% load gemet_tags %}

<!-- header -->
<div class="gemet-header">
  <!-- title -->
  <div class="header-title">
    <div class="title">GEMET</div>
    <div class="subtitle">General Multilingual Environmental Thesaurus</div>
  </div>
  <div class="gemet-menu">
  <a class="{% active request 'themes' langcode=language.code %}"
     href="{% url 'themes' language.code %}">Thematic Listings</a>
  <!-- &nbsp;|&nbsp; -->
  <a class="{% active request 'inspire_themes' langcode=language.code %}"
     href="{% url 'inspire_themes' language.code %}">INSPIRE Spatial Data Themes</a>
  <!-- &nbsp;|&nbsp; -->
  <a class="{% active request 'groups' langcode=language.code %}"
     href="{% url 'groups' language.code %}">Hierarchical Listings</a>
  <!-- &nbsp;|&nbsp; -->
  <a class="{% active request 'alphabetic' langcode=language.code %}"
     href="{% url 'alphabetic' language.code %}">Alphabetic Listings</a>
  <!-- &nbsp;|&nbsp; -->
  <!-- <a href="{% url 'search' language.code %}">Search Thesaurus</a> -->
  <a class="{% active request 'search' langcode=language.code %}">
    Search Thesaurus
  </a>
</div>

<div class="search_bar huge">
  <div class="search_dropdown">
    <select name="select-language" id="js-change-language">
      {% for lang in languages %}
        <option value="{{ lang.code }}"
        href="{% if code %}{% url view lang.code code %}{% else %}{% url view lang.code %}{% endif %}{% if get_params %}?{{ get_params }}{% endif %}"
        {% if language.code == lang.code%}selected="selected"{% endif %}
          >{{ lang.name }}</option>
      {% endfor %}
    </select>
  </div>

  <form method="post"
        action='{% url 'search' language.code %}'
        id='search-form'
        name="search-query"
        placeholder="Concepts, Groups, Themes...">
    {% csrf_token %}
    {{ search_form }}
    <button type="submit" value="Search">Search</button>
  </form>

</div>

</div>

<!-- menu -->

<!--/header -->
