{% extends layout_template %}
{% load gemet_tags %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='inspire-theme' id=inspire_theme.id %}

  <!-- Theme -->
  <h3 class="h3">{{ inspire_theme.name }}</h3>
  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in inspire_theme.translations %}
      <li class="clearfix">
        <div class="dt">{{ translation.language.name }}</div>
        <div class="dd">{{ translation.value }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Definition -->
  <h5 class="h5 hidden-desktop">Definiton</h5>
  {% if not inspire_theme.definition %}
    <p class="alert">Definition is not available.</p>
  {% else %}
    {{ inspire_theme.definition }}
  {% endif %}
  <!-- Other relations -->
  <h5 class="h5">Other relations</h5>
  <ul class="dl-inline no-list">
    {% for relation in inspire_theme.visible_foreign_relations %}
    <li>
      <div class="dt">{{ relation.property_type.label }}</div>
      <div class="dd">
        <a href="{{ relation.uri }}">{{ relation.label }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <!-- Scope note -->
  <h5 class="h5">Scope note:</h5>
  {% if not inspire_theme.scopeNote %}
    <p class="alert">Scope note is not available.</p>
  {% else %}
    <p>{{ inspire_theme.scopeNote }}</p>
  {% endif %}
  <!-- Concept URL -->
  <h5 class="h5">Concept URL</h5>
  <p><a rel="nofollow" href="{{ inspire_theme.url }}">{{ inspire_theme.url }}</a></p>


{% endblock %}
