{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>GEMET</title>
    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/style.css' %}" />
  </head>
<body>
  <p>
    <a href="{% url 'themes' language.code %}">Thematic Listings</a>
    <a href="{% url 'groups' language.code %}">Hierarchical Listings</a>
    <a href="{% url 'alphabetic' language.code %}">Alphabetic Listings</a>
    <a href="{% url 'search' language.code %}">Search Thesaurus</a>
  </p>

    {% block content %}
    {% endblock %}

  <p>
    <a href="{% url 'alphabets' language.code %}">Alphabets</a>
  </p>
  </body>
</html>
