{% autoescape off %}
{{ header_text }}
{% endautoescape %}

<div class="content">
  {% block content %}
  {% endblock %}
</div>

<!-- footer -->
<div class="footer-menu">
  <a href="{% url 'download' language.code %}">Download</a>
  &nbsp;|&nbsp;
  <a href="{% url 'alphabets' language.code %}">Alphabets</a>
  &nbsp;|&nbsp;
  <a href="{% url 'about' language.code %}">About GEMET</a>
  &nbsp;|&nbsp;
  <a href="{% url 'webservices' language.code %}">Web Services</a>
  &nbsp;|&nbsp;
  <a href="{% url 'definition_sources' language.code %}">Definition sources</a>
  &nbsp;|&nbsp;
  <a href="{% url 'changes' language.code %}">History of changes</a>

  {% block version %}
  {% endblock %}

</div>

{% autoescape off %}
{{ footer_text }}
{% endautoescape %}
