{% load staticfiles %}

{% include 'zope/head.html' %}

<!-- {% block title %}
{% endblock %} -->


{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/bootstrap.min.css' %}">
<!--   <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/bootstrap-theme.min.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/materialize.min.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/select2.min.css' %}" />
{% endblock %}

{% include 'zope/before_login.html' %}

{% if user.is_authenticated %}
  <a href="http://www.eionet.europa.eu/directory/user?uid={{ user.username }}"
     id="profilelink">{{ user.username }}</a>
  <a id="logoutlink" href="{% url 'logout' %}">Logout</a>
{% else %}
  <a id="loginlink" href="{% url 'login' %}">Login</a>
{% endif %}

{% include 'zope/header_before_container.html' %}

<div class="content">
  {% block content %}
  {% endblock %}
</div>
{% include 'zope/header_after_container.html' %}

<!-- footer -->
<div class="footer-menu">

  {% block footer %}
    <a href="{% url 'themes' language.code %}">GEMET</a>
     |
    <a href="{% url 'download' language.code 'latest' %}">Download</a>
    &nbsp;|&nbsp;
    <a href="{% url 'alphabets' language.code %}">Alphabets</a>
    &nbsp;|&nbsp;
    <a href="{% url 'about' language.code %}">About GEMET</a>
    &nbsp;|&nbsp;
    <a href="{% url 'webservices' language.code %}">Web Services</a>
    &nbsp;|&nbsp;
    <a href="{% url 'definition_sources' language.code %}">Definition sources</a>
    &nbsp;|&nbsp;
    <a href="{% url 'changes' language.code %}">History of changes</a>

    {% if user.is_authenticated %}
    &nbsp;|&nbsp;
    <a href="{% url 'concept_add' language.code %}">Add a new concept</a>
    &nbsp;|&nbsp;
    <a href="{% url 'release_version' language.code %}">Release this version</a>
    &nbsp;|&nbsp;
    <a href="{% url 'change_log' language.code %}">Change log</a>
    {% endif %}
  {% endblock %}

  {% block version %}
  {% endblock %}

</div>

<div class="backdrop-site"></div>
<script src="{% static 'thesaurus/js/jquery.min.js' %}"></script>
<script src="{% static 'thesaurus/js/bootstrap.min.js' %}"></script>
<script src="{% static 'thesaurus/js/main.js' %}"></script>
<script src="{% static 'thesaurus/js/materialize.min.js' %}"></script>

{% include 'zope/footer.html' %}
{% block js %}
{% endblock %}
