{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>GEMET</title>
    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/style.css' %}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
<body>

     <div class="container">
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'themes' language.code %}">Thematic Listings</a></li>
              <li><a href="{% url 'inspire_themes' language.code %}">INSPIRE Spatial Data Themes</a></li>
              <li><a href="{% url 'groups' language.code %}">Hierarchical Listings</a></li>
              <li><a href="{% url 'alphabetic' language.code %}">Alphabetic Listings</a></li>
              <li>
                <form method="post" action='{% url 'search' language.code %}' id='search-form'>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <p>Selected language: {{ language.name }}</p>
                  <input type="submit" value="Search"/>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <br/>

      <div class="well">
        <a href="{% url 'download' language.code %}">Download</a>
        &nbsp;|&nbsp;
        <a href="{% url 'alphabets' language.code %}">Alphabets</a>
        &nbsp;|&nbsp;
        <a href="{% url 'about' language.code %}">About GEMET</a>
        &nbsp;|&nbsp;
        <a href="{% url 'definition_sources' language.code %}">Definition sources</a>
        &nbsp;|&nbsp;
        <a href="{% url 'changes' language.code %}">History of changes</a>
        {% block version %}
        {% endblock %}
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>
