{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/bootstrap.min.css' %}">
    <!--   <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/bootstrap-theme.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/select2.min.css' %}" />
  </head>

  <body>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <div class="footer-menu">
        <a href="{% url 'download' language.code %}">Download</a>
        &nbsp;|&nbsp;
        <a href="{% url 'alphabets' language.code %}">Alphabets</a>
        &nbsp;|&nbsp;
        <a href="{% url 'about' language.code %}">About GEMET</a>
        &nbsp;|&nbsp;
        <a href="{% url 'webservices' language.code %}">Web Services</a>
        &nbsp;|&nbsp;
        <a href="{% url 'definition_sources' language.code %}">Definition sources</a>
        &nbsp;|&nbsp;
        <a href="{% url 'changes' language.code %}">History of changes</a>
        &nbsp;|&nbsp;
        <a href="{% url 'concept_add' language.code %}">Add a new concept</a>
        {% block version %}
        {% endblock %}
      </div>
    </div>

    <div class="backdrop-site"></div>
    <script src="{% static 'thesaurus/js/jquery.min.js' %}"></script>
    <script src="{% static 'thesaurus/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'thesaurus/js/main.js' %}"></script>
    <script src="{% static 'thesaurus/js/materialize.min.js' %}"></script>

    {% block js %}
    {% endblock %}
</body>
</html>
