{% load staticfiles %}

{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://www.eionet.europa.eu/styles/eionet2007/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.eionet.europa.eu/styles/eionet2007/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="https://www.eionet.europa.eu/styles/eionet2007/handheld.css" media="handheld" />
    <link rel="shortcut icon" href="http://eionet.europa.eu/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="https://www.eionet.europa.eu/styles/eionet2007/eealogo256x256.png" type="image/png" />
    <link rel="start" title="Home" href="http://eionet.europa.eu/" />
    <link rel="alternate" type="application/rss+xml" title="Eionet headlines" href="http://www.eionet.europa.eu/announcements.rdf" />
    <style type="text/css">
/*<![CDATA[*/
.archrule {
    border: 1px solid black;
    width: 40%;
    background-color: rgb(255,255,153);
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#explanation {

    background-color:#f4f3f1;
    margin-top: 1em;
    border:1px solid #b1acae;

}
#explanation p {
    margin-top:0;
    padding:0 10px 1em 10px;
}
#explanation h1 {
    background:transparent;
    color:black;
    text-transform: none;
    padding:0 10px;
    margin:0;
}

#rightcolumn h2 {
    font-size: 120%;
    text-align: center;
}


.localservice {
    margin: 2em 1em 0em 1em;
    background-color: #a5ced1;
    padding: 0.5em;
    text-align: center;
}

.localservice h2 {
    padding-top: 0;
    margin-top: 0;
    font-size: 120%;
}

/*]]>*/
    </style>
    <script type="text/javascript" src="https://www.eionet.europa.eu/styles/eionet2007/pageops.js"></script>
    <script type="text/javascript" src="https://www.eionet.europa.eu/styles/eionet2007/mark_special_links.js"></script>
    <script type="text/javascript">
//<![CDATA[
function addsite() {
 f = document.getElementById('freesrchfld');
 f.value = f.value + ' site:.eionet.europa.eu';
 return true;
}
//]]>
    </script>


{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/bootstrap.min.css' %}">
<!--   <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/bootstrap-theme.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/materialize.min.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'thesaurus/css/select2.min.css' %}" />

{% endblock %}

</head>
  <body>
    <div id="container">
      <div id="toolribbon">
        <div id="lefttools">
          <a id="skiplink" href="#workarea" accesskey="2"><span>Skip to content</span></a>
          <a id="eealink" href="http://www.eea.europa.eu/">EEA</a>
          <a id="ewlink" href="http://ew.eea.europa.eu/">EnviroWindows</a>
        </div>
        <div id="righttools">
          <a id="loginlink"
              href="http://eionet.europa.eu/login/login_form?came_from=http://www.eionet.europa.eu/">OLD Login</a>
          {% if user.is_authenticated %}
            <a id="logoutlink" href="{% url 'logout' %}">Logout</a>
            <a id="profilelink"
               href="http://www.eionet.europa.eu/directory/user?uid={{ user.username}}">({{ user.username }})</a>
          {% else %}
            <a id="loginlink" href="{% url 'login' %}">Login</a>
          {% endif %}

          <a id="printlink" title="Print this page" href="javascript:this.print();"><span>Print</span></a>
          <a id="fullscreenlink" href="javascript:toggleFullScreenMode()" title="Switch to/from full screen mode"><span>Switch to/from full screen mode</span></a>
          <a id="acronymlink" href="http://eionet.europa.eu/acronyms" title="Look up acronyms"><span>Acronyms</span></a>
          <a id="rsslink" type="application/rss+xml" href="http://www.eionet.europa.eu/announcements.rdf" title="Eionet headlines as RSS"><span>RSS</span></a>

<form action="https://www.google.com/cse" id="cse-search-box">
<div id="freesrchform">
<input name="cx" type="hidden" value="010617083146134556574:ymkqzb7sibw" />
<input name="ie" type="hidden" value="UTF-8" />
<input name="sa" type="hidden" value="Search" />
<input id="freesrchfld" type="text" name="q" size="10"
 onfocus="if(this.value=='Search Eionet')this.value='';"
 onblur="if(this.value=='')this.value='Search Eionet';" title="Search Eionet" value="Search Eionet" />
<input id="freesrchbtn" type="image" src="https://www.eionet.europa.eu/styles/eionet2007/button_go.gif" alt="Go"/>
</div>
</form>
        </div>
      </div> <!-- toolribbon -->
      <div id="pagehead">
        <a title="Frontpage" href="http://eionet.europa.eu/"><img src="https://www.eionet.europa.eu/styles/eionet2007/eea-print-logo.gif" alt="Logo" id="logo" width="428" height="87" /></a>
        <div id="networktitle">Eionet</div>
        <div id="sitetitle">European Environment Information and Observation Network</div>
        <div id="sitetagline">Networking improving Europe's environment</div>
      </div>
      <div id="menuribbon">
<!-- Last updated: 2014-10-22T07:11:32Z
     To update download http://www.eionet.europa.eu/dropdownmenus.txt -->
        <ul id="dropdowns">
         <li><a href="http://www.eionet.europa.eu/menuservices">Services</a>
          <ul>
           <li><a href="http://www.eionet.europa.eu/helpdesk">Helpdesk</a></li>
           <li><a href="http://forum.eionet.europa.eu/">Forum</a></li>
           <li><a href="http://projects.eionet.europa.eu/">Projects</a></li>
           <li><a href="http://www.eionet.europa.eu/ldap-roles">Roles</a></li>
           <li><a href="http://planner.eionet.europa.eu/">Workplan</a></li>
           <li><a href="http://uns.eionet.europa.eu/">Subscriptions</a></li>
           <li><a href="http://transfer.eionet.europa.eu/">Web Transfer</a></li>
           <li><a href="http://www.eionet.europa.eu/networknews">News</a></li>
           <li><a href="http://www.eionet.europa.eu/rolemails">NFP mails</a></li>
           <li><a href="http://archives.eionet.europa.eu/">Archived IGs</a></li>
          </ul>
         </li>
         <li><a href="http://www.eionet.europa.eu/menureportnet">Reportnet</a>
          <ul>
           <li><a href="http://cdr.eionet.europa.eu/">CDR Repository</a></li>
           <li><a href="http://rod.eionet.europa.eu/">ROD Obligations</a></li>
           <li><a href="http://dd.eionet.europa.eu/">Data Dictionary</a></li>
           <li><a href="http://etcdd.eionet.europa.eu/">ETC Data Dictionary</a></li>
           <li><a href="http://cr.eionet.europa.eu/">Content Registry</a></li>
           <li><a href="http://converters.eionet.europa.eu/">Conversion service</a></li>
           <li><a href="http://mdr.eionet.europa.eu/">Mediterranean Data Repository</a></li>
           <li><a href="https://bdr.eionet.europa.eu/">Business Data Repository</a></li>
           <li><a href="http://papers.eionet.europa.eu/">AQ Plans &amp; Programmes reporting</a></li>
           <li><a href="http://uwwtd.eionet.europa.eu/">UWWTD reporting</a></li>
           <li><a href="http://webforms.eionet.europa.eu/">Webforms</a></li>
           <li><a href="http://www.eionet.europa.eu/reportnet">Reportnet Documents</a></li>
          </ul>
         </li>
         <li><a href="http://www.eionet.europa.eu/menutools">Tools</a>
          <ul>
           <li><a href="http://www.eionet.europa.eu/gis/">GIS</a></li>
           <li><a href="http://www.eionet.europa.eu/software/">Software</a></li>
           <li><a href="https://svn.eionet.europa.eu/">SVN Repository</a></li>
           <li><a href="https://taskman.eionet.europa.eu/">Task Management</a></li>
           <li><a href="http://www.eionet.europa.eu/software/design">Design Guidelines</a></li>
           <li><a href="http://www.eionet.europa.eu/software/swstandards">Standards</a></li>
           <li><a href="http://ci.eionet.europa.eu/">Continuous Integration</a></li>
           <li><a href="http://archiva.eionet.europa.eu/">Maven repository</a></li>
           <li><a href="http://www.eionet.europa.eu/gemet">GEMET Thesaurus</a></li>
           <li><a href="http://sparqlclient.eionet.europa.eu/">SPARQL client</a></li>
          </ul>
         </li>
         <li><a href="http://www.eionet.europa.eu/menutopics">Topics (ETCs)</a>
          <ul>
           <li><a href="http://acm.eionet.europa.eu/">Air pollution and Climate Change mitigation</a></li>
           <li><a href="http://bd.eionet.europa.eu/">Biological Diversity</a></li>
           <li><a href="http://cca.eionet.europa.eu/">Climate Change impacts, vulnerability and Adaptation</a></li>
           <li><a href="http://wmge.eionet.europa.eu/">ETC WMGE Waste and Material in Green Economy</a></li>
           <li><a href="http://icm.eionet.europa.eu/">Inland, Coastal and Marine waters</a></li>
           <li><a href="http://uls.eionet.europa.eu/">Urban, Land and Soil systems</a></li>
          </ul>
         </li>
</ul>

      </div>

<div class="breadcrumbtrail">
  <div class="breadcrumbhead">You are here:</div>
<div class="breadcrumbitemlast">Eionet</div>
  <div class="breadcrumbtail"></div>
</div>

<div id="leftcolumn">
    <div class="localnav">
        <h2>Local navigation</h2>
        <ul>
<li><a href="http://eionet.europa.eu/helpdesk/" title="Eionet Helpdesk">Helpdesk</a></li>
<li><a href="http://eionet.europa.eu/directory/" title="Eionet user directory">User directory</a></li>
<li><a href="http://eionet.europa.eu/ldap-roles/" title="Roles - Who is who">Roles</a></li>
<li><a href="http://eionet.europa.eu/ldap-organisations/" title="Oranisations">Organisations</a></li>
<li><a href="http://forum.eionet.europa.eu/nfp-eionet" title="NFP / Eionet Interest Group [Eionet login required]">NFP/Eionet IG</a></li>
<li><a href="http://eionet.europa.eu/rolemails" title="Mails to NFPs [Eionet login required]">Mails to NFPs</a></li>
<li><a href="http://forum.eionet.europa.eu/nrc-state-environment/seris/" title="Countries' state of the environment reports">SERIS</a></li>
<li><a href="http://planner.eionet.europa.eu/" title="Eionet workplan/planner">Workplan/planner</a></li>
<li><a href="http://eionet.europa.eu/events" title="Meetings and events">Meetings &amp; events</a></li>
<li><a href="http://eionet.europa.eu/dataflows" title="Overview of reporting status for core data flows">Core data flows</a></li>
<li><a href="http://eionet.europa.eu/aqportal" title="The Air Quality Portal">AQ Portal</a></li>
</ul>

    </div>

    <div class="localservice">
        <form method="get" action="/directory/findperson">
            <h2><label for="membername">Find a person</label></h2>
            <div>
                <input type="text" size="6" id="membername" name="name" value="" title="You can search on First name, Surname, Userid and Email address" />
            </div>
        </form>
    </div>

    <div class="localnav">
        <h2>Account services</h2>
        <ul>
            <li>I have <a href="http://eionet.europa.eu/password-reset">lost my password</a></li>
            
            
        </ul>
    </div>
</div>
      <div id="workarea">

{% endautoescape %}

<div class="content">
  {% block content %}
  {% endblock %}
</div>

<!-- footer -->
<div class="footer-menu">

  {% block footer %}
    <a href="{% url 'download' language.code %}">Download</a>
    &nbsp;|&nbsp;
    <a href="{% url 'alphabets' language.code %}">Alphabets</a>
    &nbsp;|&nbsp;
    <a href="{% url 'about' language.code %}">About GEMET</a>
    &nbsp;|&nbsp;
    <a href="{% url 'webservices' language.code %}">Web Services</a>
    &nbsp;|&nbsp;
    <a href="{% url 'definition_sources' language.code %}">Definition sources</a>
    &nbsp;|&nbsp;
    <a href="{% url 'changes' language.code %}">History of changes</a>
    &nbsp;|&nbsp;
    <a href="{% url 'concept_add' language.code %}">Add a new concept</a>
  {% endblock %}

  {% block version %}
  {% endblock %}

</div>

{% autoescape off %}

       </div> <!-- workarea -->
    </div> <!-- container -->
    <div id="pagefoot">
<p>
  Document last modified:
              2017/02/16
    .
    Content in this portal is modified daily by a community of providers.
</p>
<p>
<a href="http://eionet.europa.eu/disclaimer">Disclaimer</a>.
Copyright: <a rel="license"
   href="http://creativecommons.org/licenses/by/2.5/dk/deed.en_GB"
   title="Creative Commons Attribution License">
  <img alt="Creative Commons Attribution License"
      src="https://i.creativecommons.org/l/by/2.5/dk/80x15.png" /></a>
</p>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49448622-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>


{% endautoescape %}
<div class="backdrop-site"></div>
<script src="{% static 'thesaurus/js/jquery.min.js' %}"></script>
<script src="{% static 'thesaurus/js/bootstrap.min.js' %}"></script>
<script src="{% static 'thesaurus/js/main.js' %}"></script>
<script src="{% static 'thesaurus/js/materialize.min.js' %}"></script>
<!-- <script>
    $(document).ready(function() {
    $('.edit-page select').material_select();
  });
</script> -->

{% block js %}
{% endblock %}
