{% extends layout_template %}
{% load gemet_tags %}

{% block content %}
  {% include 'select_language.html' with langcode=language.code view='relations' id=group_id %}

  <h1>Relations</h1>

  <h3 class="h5 {% if language.rtl %}direction-rtl{% endif %}">{{ group.name }}</h3>

  <ul class="listing {% if language.rtl %}direction-rtl{% endif %} no-list">
    {% get_children group.id language.code as group_children %}
    {% for concept in group_children %}
      {% include 'concept_snippet.html' with concept=concept group_id=group.id langcode=language.code %}
    {% endfor %}
  </ul>

{% endblock %}
