{% extends layout_template %}
{% load gemet_tags %}

{% block title %}
 {% get_concept_name group.name group.id status_values as name %}
  Relations for {{ name|striptags }}
{% endblock %}

{% block content %}
  {% include 'header.html' with view='relations' code=group.code %}
  <div class="text-area relations">
    <h1>Relations</h1>

    <h3 class="h5 {% if language.rtl %}direction-rtl{% endif %}">
      {% get_concept_name group.name group.id status_values %}
    </h3>

    <ul class="listing first-level{% if language.rtl %}direction-rtl{% endif %}">
      {% get_children group.id language.code group.status_list as group_children %}
      {% for concept in group_children %}
        {% include 'concept_snippet.html' with concept=concept group_code=group.code langcode=language.code status_values=group.status_list %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block version %}
    {% include 'version.html' %}
{% endblock %}
