{% extends layout_template %}

{% load gemet_tags %}

{% block content %}
  {% include 'header.html' with view='search' %}

  {% if query %}
    <div>
      <span class="results-nr">{{ concepts|length }} results found.</span>
      <span>Searched for '<b>{{ query }}</b>'</span>
    </div>
    {% if concepts|length %}
    <hr>
    <ul class="listing columns {% if language.rtl %}direction-rtl{% endif %}">
      {% for concept in concepts %}
        <li>
            {% get_concept_names concept.search_text as names %}
            <a href="{% url 'concept' language.code concept.id %}">{{ names.concept_name }}</a>
            <p class="no-margin-top small">
              {% if names.other_names %}
                <span class="muted">other names:</span>
                <span class="py-other-names">{{ names.other_names }}</span>&ensp;
              {% endif %}
              <span class="muted">broader context:</span>
              <span class="py-broader">{% broader_context concept.id language.code %}</span>
            </p>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% else %}
    {% if form.errors %}
      <div>
        <span>{{ form.errors.query }}</span>
      </div>
    {% else %}
      <div>
        <span>Nothing to search for.</span>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
