{% extends 'layout.html' %}

{% load gemet_tags %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='search' %}

  <h1>Search thesaurus</h1>

  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>Selected language: {{ language.name }}</p>
    <input type="submit" value="Search"/>
  </form>

  {% if query %}
    <div>
      <span class="results-nr">{{ concepts|length }} results found.</span>
      <span>Searched for '<b>{{ query }}</b>'</span>
    </div>

    <ul>
      {% for concept in concepts %}
        <li>
            <a href="{% url 'concept' language.code concept.id %}">{{ concept.name }}</a>
            <p><b>broader context:</b> {% broader_context concept.id language.code %}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
