{% extends layout_template %}
{% load gemet_tags %}

{% block title %}
Search thesaurus
{% endblock %}

{% block content %}
  {% include 'header.html' with view='search' query=query %}
  {% if query %}
    <div>
      <span>Found {{ paginator.count }} results for '<b>{{ query }}</b>' in {{ language }}:</span>
    </div>
    {% if concepts|length %}
    <hr>
    <ul class="listing columns {% if language.rtl %}direction-rtl{% endif %}">
      {% for concept in concepts %}
        <li>
            {% get_concept_names concept status_values language.code as names %}
            <a href="{% url 'concept' language.code concept.concept__code %}">{{ names.concept_name }}</a>
            <p class="no-margin-top small">
              {% if names.other_names %}
                <span class="muted">other names:</span>
                <span class="py-other-names">{{ names.other_names }}</span>&ensp;
              {% endif %}

              {% get_broader_context concept.id language.code status_values as broader_context %}
              {% if broader_context %}
                <span class="muted">broader context:</span>
                <span class="py-broader">{{ broader_context }}</span>
              {% else %}
                <span class="muted">top level concept</span>
              {% endif %}
            </p>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% else %}
    {% if form.errors %}
      <div>
        <span>{{ form.errors.query }}</span>
      </div>
    {% else %}
      <div>
        <span>Nothing to search for.</span>
      </div>
    {% endif %}
  {% endif %}

  <div class="pagination clearfix">
      <div class="float-right">
        <!-- prev -->
        {% if concepts.has_previous %}
          <a class="no-visit" href="?page={{ concepts.previous_page_number }}&query={{ query }}">Previous</a>
        {% endif %}
        &ensp;
        <!-- next -->
        {% if concepts.has_next %}
          <a class="no-visit" href="?page={{ concepts.next_page_number }}&query={{ query }}">Next</a>
        {% endif %}
      </div>

      <!-- pages -->
      Pages:
      {% for page_number in visible_pages %}
        {% if page_number == page_obj.number %}
          {{ page_number }}
        {% else %}
          <a href="?page={{ page_number }}&query={{ query }}">{{ page_number }}</a>
        {% endif %}
      {% endfor %}
  </div>

{% endblock %}

{% block version %}
  {% include 'version.html' %}
{% endblock %}
