{% extends 'layout.html' %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='superGroup' id=superGroup.id %}

  <h3>{{ superGroup.prefLabel }}</h3>
  <h4>Definiton:</h4>
  <span class="infotext">
    {% if not superGroup.definition %}
      <span>Definition is not available</span>
    {% else %}
      {{superGroup.definition }}
    {% endif %}
  </span>

  <h4>Scope note:</h4>
  <span class="infotext">
    {{ superGroup.scopeNote|default:"scope note is not available" }}
  </span>

  {% if superGroup.children %}
    <h4>Groups</h4>
    <ul>
      {% for cp in superGroup.children %}
        <li>
          {{ cp.prefLabel }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>Translations:</h4>
  <ul>
    {% for translation in superGroup.translations %}
      <li>{{ translation.language.name }}: {{ translation.value }}</li>
    {% endfor %}
  </ul>

  <h4>Concept URL: &lt;{{ superGroup.url }}&gt;</h4>

{% endblock %}
