{% extends layout_template %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='supergroup' id=supergroup.id %}

  <h3>{{ supergroup.name }}</h3>

  <h4>Definiton:</h4>
  <span class="infotext">
    {% if not supergroup.definition %}
      <span>Definition is not available</span>
    {% else %}
      {{supergroup.definition }}
    {% endif %}
  </span>

  <h4>Scope note:</h4>
  <span class="infotext">
    {{ supergroup.scopeNote|default:"scope note is not available" }}
  </span>

  {% if supergroup.narrower_concepts %}
    <h4>Groups</h4>
    <ul>
      {% for cp in supergroup.narrower_concepts %}
        <li>
          <a href="{% url 'group' language.code cp.id %}">{{ cp.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>Translations:</h4>
  <ul>
    {% for translation in supergroup.translations %}
      <li>{{ translation.language.name }}: {{ translation.value }}</li>
    {% endfor %}
  </ul>

  <h4>Concept URL: &lt;{{ supergroup.url }}&gt;</h4>

{% endblock %}
