{% extends 'layout.html' %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='theme' id=theme.id %}

  <h3>{{ theme.prefLabel }}</h3>
  <h4>Definiton:</h4>
  <span class="infotext">
    {% if not theme.definition %}
      <span>Definition is not available</span>
    {% else %}
      {{theme.definition }}
    {% endif %}
  </span>

  <h4>Scope note:</h4>
  <span class="infotext">
    {{ theme.scopeNote|default:"scope note is not available" }}
  </span>

  {% if theme.children %}
    <h4>Concepts:</h4>
    <ul>
      {% for tc in theme.children %}
        <li>
          {{ tc.prefLabel }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>Translations:</h4>
  <ul>
    {% for translation in theme.translations %}
      <li>{{ translation.language.name }}: {{ translation.value }}</li>
    {% endfor %}
  </ul>

  <h4>Concept URL: &lt;{{ theme.url }}&gt;</h4>

{% endblock %}
