{% extends layout_template %}
{% load gemet_tags %}

{% block title %}
{{ theme.name }}
{% endblock %}

{% block content %}
  {% include 'header.html' with view='theme' id=theme.id %}

  <!-- Theme -->
  <h3 class="h3">{{ theme.name }}</h3>
  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in theme.translations %}
      <li class="clearfix">
        <div class="dt">{{ translation.language.name }}</div>
        <div class="dd">{{ translation.value }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Definition -->
  <h5 class="h5 hidden-desktop">Definiton</h5>
  {% if not theme.definition %}
    <p class="alert">Definition is not available.</p>
  {% else %}
    <p>{{ theme.definition }}</p>
  {% endif %}

  <!-- Scope -->
  <h5 class="h5">Scope note</h5>
  {% if not theme.scopeNote %}
    <p class="alert">Scope note is not available.</p>
  {% else %}
    <p>{{ theme.scopeNote }}</p>
  {% endif %}

  <!-- Concepts -->
  {% if theme.themeMember_concepts %}
  <h5 class="h5">Concepts</h5>
  <ul class="listing">
    {% for cp in theme.themeMember_concepts %}
    <li>
      <a href="{% url 'concept' language.code cp.concept__code %}">{{ cp.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}


  <!-- Concept URL -->
  <h5 class="h5">Concept URL</h5>
  <p id="concept-url"><a rel="nofollow" href="{{ theme.url }}">{{ theme.url }}</a></p>

{% endblock %}
{% block version %}
    {% include 'version.html' with version=ns_version %}
{% endblock %}
