{% extends 'concept_listings.html' %}
{% load gemet_tags %}

{% block language_selector %}
  {% include 'select_language.html' with langcode=language.code view='theme_concepts' id=theme.id %}
{% endblock %}

{% block header %}
  <h1>Concepts list for {{ theme.name }}</h1>
{% endblock %}

{% block letter_pagination %}
  <a href="{% url 'theme_concepts' language.code theme.id %}?letter=0">all</a>
  {% for letter in letters %}
    {% if letter_index == forloop.counter %}
      {{  letter.0 }}
    {% else %}
      <a href="{% url 'theme_concepts' language.code theme.id %}?letter={{ forloop.counter }}">{{ letter.0 }}</a>
    {% endif %}
  {% endfor %}
  <a href="{% url 'theme_concepts' language.code theme.id %}?letter=99">other</a>
{% endblock %}
