{% extends layout_template %}

{% block title %}
  {{ page_title }}
{% endblock %}

{% load gemet_tags %}

{% block content %}
  {% include 'header.html' with view=view_name %}

  <h1>{{ page_title }}</h1>
  {% if language_warning %}
    <p class="alert">There are no themes available for the current language so these are listed in English.</p>
  {% endif %}

  <ul class="listing columns {{ css_class }} {% if language.rtl %}direction-rtl{% endif %}">
    {% for theme in themes %}
    <li>
      <a href="{% url theme_url language.code theme.concept__code %}">{{ theme.name }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block version %}
    {% include 'version.html' with version=ns_version %}
{% endblock %}
