{% extends layout_template %}
{% load gemet_tags %}

{% block content %}
  {% include 'select_language.html' with languages=languages langcode=language.code view='theme' id=theme.id %}

  <h3>{{ theme.name }}</h3>
  <h4>Definiton:</h4>
  <span class="infotext">
    {% if not theme.definition %}
      <span>Definition is not available</span>
    {% else %}
      {{ theme.definition }}
    {% endif %}
  </span>

  <h4>Scope note:</h4>
  <span class="infotext">
    {{ theme.scopeNote|default:"scope note is not available" }}
  </span>

  {% if theme.themeMember_concepts %}
    <h4>Concepts:</h4>
    <ul>
      {% for cp in theme.themeMember_concepts %}
      <li>
        <a href="{% url 'concept' language.code cp.id %}">{{ cp.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>Translations:</h4>
  <ul>
    {% for translation in theme.translations %}
      <li>{{ translation.language.name }}: {{ translation.value }}</li>
    {% endfor %}
  </ul>

  <h4>Concept URL: &lt;{{ theme.url }}&gt;</h4>

{% endblock %}
