{% extends 'concept_listings.html' %}
{% load gemet_tags %}

{% block title %}
Concepts list
{% endblock %}

{% block language_selector %}
  {% include 'header.html' with view='theme_concepts' code=theme.code %}
{% endblock %}

{% block header %}
  <h1>
    Concepts list for <i>{{ theme.name }}</i>
  </h1>
  {% if language_warning %}
    <p>* Note: Theme name is not available for the current language</p>
  {% endif %}
{% endblock %}

{% block letter_pagination %}
<div class="letter-pagination">
  List by letters: 
  {% if letter == 0 %}
    <span class="selected-elm">all</span>
  {% else %}
    <a href="{% url 'theme_concepts' language.code theme.code %}?letter=0">all</a>
  {% endif %}
  {% for letter_index in letters %}
    {% if letter == forloop.counter %}
      <span class="selected-elm">{{ letter_index.0 }}</span>
    {% elif not letter_index.1 %}
      <span class="unavailable-letter">{{ letter_index.0 }}</span>
    {% else %}
      <a href="{% url 'theme_concepts' language.code theme.code %}?letter={{ forloop.counter }}">{{ letter_index.0 }}</a>
    {% endif %}
  {% endfor %}
  {% if letter == 99 %}
    other
  {% else %}
    <a href="{% url 'theme_concepts' language.code theme.code %}?letter=99">other</a>
  {% endif %}
</div>  
{% endblock %}
{% block version %}
    {% include 'version.html' with version=ns_version %}
{% endblock %}
