language: python
python:
  - "2.7"
install:
  - pip install -r requirements-dev.txt
  - pip install coveralls
script:
  - ./manage.py test
after_success:
  coveralls
notifications:
  email:
      recipients:
            - purepython@eaudeweb.ro
