ZOPE_URL=http://www.eionet.europa.eu

GEMET_URL=/gemet

# FORCE_SCRIPT_NAME=/gemet

# Fill in the gemet.rdf.gz file path in order to serve it at http://example.com/gemet/gemet.rdf.gz
# GEMET_RDFGZ_PATH=/path/to/gemet.rdf.gz


# Fill in the following settings to enable LDAP authentication
AUTH_LDAP_SERVER_URI=ldap://ldap3.eionet.europa.eu
AUTH_LDAP_USER_DN_TEMPLATE=uid=%(user)s,ou=Users,o=EIONET,l=Europe
