[unix_http_server]
file = /tmp/supervisor.sock
chmod = 0777

[supervisord]
logfile = %(here)s/logs/supervisord.log

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock

[program:django]
directory=%(here)s/gemet/
command=%(here)s/sandbox/bin/gunicorn gemet.wsgi:application --bind 127.0.0.1:8010
environment=PYTHONPATH=%(here)s/sandbox/
redirect_stderr = true
stdout_logfile = %(here)s/logs/%(program_name)s.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 4
startretries = 1

[program:qcluster]
directory=%(here)s/gemet/
command=%(here)s/sandbox/bin/python manage.py qcluster
autostart=true
autorestart=true
environment=PYTHONPATH=%(here)s/sandbox/
redirect_stderr = true
stdout_logfile = %(here)s/logs/%(program_name)s.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 4
startretries = 1
