[staging]
hosts = staging_host
user = edw
project_root = /path/to/project/gemet
sandbox = /path/to/project/sandbox
supervisord_conf = /path/to/project/supervisord.conf
fixture = gemet/thesaurus/fixtures/data.json
