{% extends layout_template %}
{% load gemet_tags %}

{% block title %}
  Download files
{% endblock %}

{% block content %}

  <h1>Download GEMET</h1>

  <!-- Download -->
  <div id="download" class="side-bar box visible">
    <h3 class="h6 no-margin-top">Labels and definitions in RDF</h3>
    <form id="definitions-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="type" value="definitions">Download labels and definitions</button>
    </form>
    <hr />
    <h3 class="h6">Supergroups, groups and themes in RDF</h3>
    <form id="groups-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="type" value="groups">Download groups and themes</button>
    </form>
  </div>

  <!-- General structure -->
  <div style="width: 70%">
  <h3 class="h3">General structure</h3>

  {% if is_latest %}
    <div class="alert alert-warning">
      The download links below refer to the latest version ({{ version_identifier }}) of GEMET.
      To download a previous version, use this <a href="{% url 'changes' language.code %}">link</a>.
    </div>
  {% else %}
    <div class="alert alert-warning">
      The download links below refer to an older version ({{ version_identifier }}) of GEMET.
      To download the latest version, use this <a href="{% url 'download' language.code 'latest' %}">link</a>.
    </div>
  {% endif %}

  {% if show_message %}
    <div class="alert alert-warning fade in alert-dismissable">
      A new version has just been released. Exports are still being generated.
      Please try again in a few moments in order to fetch the latest data.
    </div>
  {% endif %}

  <ul class="listing">
    <li>
      <a href="{% url 'export' version 'gemet-backbone.html'%}">
          Themes and groups relationships as simple HTML importable into MS-Access</a>
    </li>
    <li>
      <a href="{% url 'export' version 'gemet-backbone.rdf' %}">
          Themes and groups relationships as RDF</a>
    </li>
    <li>
      <a href="{% url 'export' version 'gemet-definitions.html'%}">
          Labels and definitions as simple HTML table importable into MS-Access</a>
    </li>
    <li>
      <a href="{% url 'export' version 'gemet-groups.html'%}">
          Supergroups, groups and themes as simple HTML tables importable into MS-Access</a>
    </li>
    <li>
      <a href="{% url 'export' version 'gemet-relations.html' %}">
          Relations in simple HTML importable into MS-Access</a>
     </li>
    <li>
      <a href="{% url 'export' version 'gemet-skoscore.rdf' %}">
          SKOS broader and narrower relations as RDF</a>
     </li>
    <li>
      <a href="{% url 'export' version 'gemetThesaurus.rdf' %}">
          An object for the Concept Scheme</a>
    </li>
    <li>
      <a href="{% url 'full_gemet' version %}">
         Entire GEMET thesaurus in SKOS format
      </a>
    </li>
  </ul>
  <h3 class="h3">Licence</h3>
  <ul>
    <li>
      <a href="https://creativecommons.org/licenses/by/4.0/">
        Attribution 4.0 International (CC BY 4.0)
      </a>
    </li>
  </ul>
  </div>

{% endblock %}
