<body class="frontend icons-on pat-markspeciallinks portaltype-plone-site site-Eionet template-external-template-header thumbs-on userrole-anonymous viewpermission-view" data-base-url="https://plone5demo.eionet.europa.eu" data-i18ncatalogurl="https://plone5demo.eionet.europa.eu/plonejsi18n" data-pat-markspeciallinks='{"external_links_open_new_window": false, "mark_special_links": true}' data-pat-pickadate='{"date": {"selectYears": 200}, "time": {"interval": 5 } }' data-pat-plone-modal='{"actionOptions": {"displayInModal": false}}' data-portal-url="https://plone5demo.eionet.europa.eu" data-view-url="https://plone5demo.eionet.europa.eu" dir="ltr" id="visual-portal-wrapper">
    <div class="outer-wrapper">
     <header id="content-header">
      <div class="container header-container">
       <div class="header-logo">
        <a href="https://plone5demo.eionet.europa.eu/">
         <div id="portal-logo">
          <img alt="Eionet Portal Prototype" src="https://plone5demo.eionet.europa.eu/@@site-logo/logo_eionet.png" title="Eionet Portal Prototype"/>
         </div>
         <div class="logo-text">
          <span>
           European Environment
           <br/>
           Information and Observation Network
          </span>
         </div>
        </a>
       </div>
       <div class="header-right-section">
        <div id="mainnavigation-wrapper">
         <div id="mainnavigation">
          <p class="hiddenStructure">
           Navigation
          </p>
          <nav class="plone-navbar navbar" id="portal-globalnav-wrapper">
           <div class="container">
            <div class="plone-navbar-header navbar-header">
             <button aria-expanded="false" class="plone-navbar-toggle navbar-toggle collapsed" data-target="#portal-globalnav-collapse" data-toggle="collapse" type="button">
              <span class="sr-only">
               Toggle navigation
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
             </button>
            </div>
            <div class="plone-collapse plone-navbar-collapse collapse navbar-collapse" id="portal-globalnav-collapse">
             <ul class="plone-nav plone-navbar-nav navTreeRoot nav navbar-nav" id="portal-globalnav">
              <li class="menu-position-1 hasDropDown dropdown" id="portaltab-workspace">
               <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle state-published" href="https://plone5demo.eionet.europa.eu/workspace" role="button" title="">
                Workspace
                <span class="opener">
                 <span class="caret">
                 </span>
                </span>
               </a>
               <ul class="submenu dropdown-menu navTreeLevel0">
                <li class="menu-position-1">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/Eionet/resolveuid/270e4297fc054aaab940ab72a52f7810" title="">
                  <span class="submenu_title">
                   About Workspace
                  </span>
                 </a>
                </li>
                <li class="menu-position-2">
                 <a class="clearfix state-published" href="https://forum.eionet.europa.eu" title="">
                  <span class="submenu_title">
                   Eionet Forum
                  </span>
                 </a>
                </li>
                <li class="menu-position-3">
                 <a class="clearfix state-published" href="https://projects.eionet.europa.eu" title="">
                  <span class="submenu_title">
                   Eionet Projects
                  </span>
                 </a>
                </li>
                <li class="menu-position-4">
                 <a class="clearfix state-published" href="https://eionetplanner.eionet.europa.eu/" title="">
                  <span class="submenu_title">
                   Eionet Planner
                  </span>
                 </a>
                </li>
               </ul>
              </li>
              <li class="menu-position-2 hasDropDown dropdown" id="portaltab-reportnet">
               <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle state-published" href="https://plone5demo.eionet.europa.eu/reportnet" role="button" title="">
                Reportnet
                <span class="opener">
                 <span class="caret">
                 </span>
                </span>
               </a>
               <ul class="submenu dropdown-menu navTreeLevel0">
                <li class="menu-position-1">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/Eionet/resolveuid/46b89f4510ee48e5b251c2ede63ed10a" title="">
                  <span class="submenu_title">
                   About Reportnet
                  </span>
                 </a>
                </li>
                <li class="menu-position-2">
                 <a class="clearfix state-published" href="https://cdr.eionet.europa.eu/" title="">
                  <span class="submenu_title">
                   CDR Repository
                  </span>
                 </a>
                </li>
                <li class="menu-position-3">
                 <a class="clearfix state-published" href="https://rod.eionet.europa.eu/" title="">
                  <span class="submenu_title">
                   ROD Obligations
                  </span>
                 </a>
                </li>
                <li class="menu-position-4">
                 <a class="clearfix state-published" href="https://dd.eionet.europa.eu/" title="">
                  <span class="submenu_title">
                   Data Dictionary
                  </span>
                 </a>
                </li>
                <li class="menu-position-5">
                 <a class="clearfix state-published" href="https://cr.eionet.europa.eu/" title="">
                  <span class="submenu_title">
                   Content Registry
                  </span>
                 </a>
                </li>
               </ul>
              </li>
              <li class="menu-position-3 hasDropDown dropdown" id="portaltab-countries">
               <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle state-published" href="https://plone5demo.eionet.europa.eu/countries" role="button" title="">
                Countries
                <span class="opener">
                 <span class="caret">
                 </span>
                </span>
               </a>
               <ul class="submenu dropdown-menu navTreeLevel0">
                <li class="menu-position-1">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/Eionet/resolveuid/4d827f953d5d4d08a144b4eb332c8976" title="">
                  <span class="submenu_title">
                   About Eionet countries
                  </span>
                 </a>
                </li>
                <li class="menu-position-2">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/countries/eionet-core-dataflows" title="">
                  <span class="submenu_title">
                   Eionet core dataflows
                  </span>
                 </a>
                </li>
               </ul>
              </li>
              <li class="menu-position-4 hasDropDown dropdown" id="portaltab-etcs">
               <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle state-published" href="https://plone5demo.eionet.europa.eu/etcs" role="button" title="">
                ETCs
                <span class="opener">
                 <span class="caret">
                 </span>
                </span>
               </a>
               <ul class="submenu dropdown-menu navTreeLevel0">
                <li class="menu-position-1">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/Eionet/resolveuid/1b94edc636c644b4b46ab159bb248a85" title="">
                  <span class="submenu_title">
                   About European Topic Centres (ETCs)
                  </span>
                 </a>
                </li>
                <li class="menu-position-2">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-atni" title="">
                  <span class="submenu_title">
                   Air Pollution, Transport, Noise and Industrial Pollution (ECT/ATNI)
                  </span>
                 </a>
                </li>
                <li class="menu-position-3">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-bd" title="">
                  <span class="submenu_title">
                   Biological Diversity (ETC/BD)
                  </span>
                 </a>
                </li>
                <li class="menu-position-4">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-cca" title="">
                  <span class="submenu_title">
                   Climate Change Impacts, Vulnerability and Adaptation (ETC/CCA)
                  </span>
                 </a>
                </li>
                <li class="menu-position-5">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-cme" title="">
                  <span class="submenu_title">
                   Climate Change Mitigation and Energy (ETC/CME)
                  </span>
                 </a>
                </li>
                <li class="menu-position-6">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-icm" title="">
                  <span class="submenu_title">
                   Inland, Coastal and Marine Waters (ETC/ICM)
                  </span>
                 </a>
                </li>
                <li class="menu-position-7">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-uls" title="">
                  <span class="submenu_title">
                   Urban, Land and Soil systems (ETC/ULS)
                  </span>
                 </a>
                </li>
                <li class="menu-position-8">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/etcs/etc-wmge" title="">
                  <span class="submenu_title">
                   Waste and Materials in Green Economy (ETC/WMGE)
                  </span>
                 </a>
                </li>
               </ul>
              </li>
              <li class="menu-position-5 hasDropDown dropdown" id="portaltab-about">
               <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle state-published" href="https://plone5demo.eionet.europa.eu/about" role="button" title="">
                About
                <span class="opener">
                 <span class="caret">
                 </span>
                </span>
               </a>
               <ul class="submenu dropdown-menu navTreeLevel0">
                <li class="menu-position-1">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/Eionet/resolveuid/0bbd680d63544022ac9557d73fe4d480" title="">
                  <span class="submenu_title">
                   About Eionet
                  </span>
                 </a>
                </li>
                <li class="menu-position-2">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/about/cooperation-guidelines" title="">
                  <span class="submenu_title">
                   Cooperation guidelines
                  </span>
                 </a>
                </li>
                <li class="menu-position-3">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/about/privacy-statement" title="">
                  <span class="submenu_title">
                   Privacy statement
                  </span>
                 </a>
                </li>
                <li class="menu-position-4">
                 <a class="clearfix state-published" href="https://plone5demo.eionet.europa.eu/about/helpdesk" title="">
                  <span class="submenu_title">
                   Eionet Helpdesk
                  </span>
                 </a>
                </li>
               </ul>
              </li>
             </ul>
            </div>
           </div>
          </nav>
         </div>
        </div>
        <div class="right-actions">
         <div class="search-wrapper">
          <div class="search-box">
           <form action="https://plone5demo.eionet.europa.eu/@@search">
            <input name="SearchableText" placeholder="Search" type="text"/>
            <div class="line">
            </div>
            <button aria-label="Search" class="search-submit">
             <i class="glyphicon glyphicon-search">
             </i>
            </button>
           </form>
          </div>
         </div>
         <div class="login"><ul><li>