</li></ul>
</div>
</div>
</div>
</div>
</header>
<div id="above-content-wrapper">
<div id="viewlet-above-content">
<nav class="plone-breadcrumb" id="portal-breadcrumbs">
<div class="container">
<span class="hiddenStructure" id="breadcrumbs-you-are-here">
 You are here:
</span>
<ol aria-labelledby="breadcrumbs-you-are-here">
 <li id="breadcrumbs-home">
  <a href="https://plone5demo.eionet.europa.eu">
   Eionet
  </a>
 </li>
 <li id="breadcrumbs-1">
  <span id="breadcrumbs-current">
   GEMET
  </span>
 </li>
</ol>
</div>
</nav>
</div>
</div>
<div class="container">
<div class="row">
<aside id="global_statusmessage">
<div>
</div>
</aside>
</div>
<main class="row row-offcanvas row-offcanvas-right" id="main-container">
<div class="col-xs-12 col-sm-12 col-md-12">
<div class="row">
<div class="col-xs-12 col-sm-12">
</div>
</div>
<footer class="row">
<div class="col-xs-12 col-sm-12">
 <!-- <xsl:copy-of css:select="#viewlet-below-content" /> -->
</div>
</footer>
</div>
<div id="column1-container">
</div>
<div id="column2-container">
</div>
</main>
<!--/row-->
</div>
<!--/container-->
</div>
<!--/outer-wrapper -->
