# SECURITY WARNING: don't run with debug turned on in production!
# DEBUG = True
# TEMPLATE_DEBUG = True

# debug_toolbar app is needed only in development. Uncomment the section
# below in development if you want to use the debug_toolbar.
# LOCAL_INSTALLED_APPS = (
#     'debug_toolbar',
#     'django_nose',
# )

# Remove the line below in development
ALLOWED_HOSTS = ['*']

# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': 'db_host',
        'PORT': 'db_port',
    },
    'import': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'import_db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': 'db_host',
        'PORT': 'db_port',
    }
}


# TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'

# NOSE_ARGS = [
#     '--with-coverage',
#     '--cover-package=gemet',
# ]