# SECURITY WARNING: don't run with debug turned on in production!
# DEBUG = True
# TEMPLATE_DEBUG = True

LOCAL_INSTALLED_APPS = (
# Use debug_toolbar in development for detailed debug info.
#    'debug_toolbar',
# Use django_nose in development to run tests with coverage option
#    'django_nose',
# The raven app is needed in production in order for sentry to work
#    'raven.contrib.django',
)

# Fill in your DSN value:
# SENTRY_DSN = ''

# Remove the line below in development
ALLOWED_HOSTS = ['*']

# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': 'db_host',
        'PORT': 'db_port',
    },
    'import': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'import_db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': 'db_host',
        'PORT': 'db_port',
    }
}

# Use the line below in order to run django in a subpath (http://example.com/gemet)
# FORCE_SCRIPT_NAME = '/gemet'

# TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'

# NOSE_ARGS = [
#     '--with-coverage',
#     '--cover-erase',
#     '--cover-package=gemet',
# ]
#
# Fill in the gemet.rdf.gz file path in order to serve it at http://example.com/gemet/gemet.rdf.gz
# GEMET_RDFGZ_PATH = '/path/to/gemet.rdf.gz'
