{% extends layout_template %}
{% load gemet_tags %}

{% block title %}
  Edit {{ concept.name }}
{% endblock %}

{% block content %}
  {% include 'header.html' with view='concept' id=concept.code %}
<div class="edit-page">

  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <button class="expand-button">Translation</button>
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in concept.translations %}
        <li class="clearfix">
          <div class="dt">{{ translation.language__name }}</div>
          <div class="dd">{{ translation.value }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Concept -->
  <div class="h3 element">
      {% include 'edit/bits/property.html' with property_name='prefLabel' html_tag='input' %}
  </div>

  <!-- Alternatives -->
  <div class="alternative-wrapper text-area">
    <div class="alternative-header">
      <span id="alternative">
        Alternatives:
      </span>
      <div class="input-area" hidden>
        <input id="alternativeInput"/>
      </div>
      <div class="button-elements">
        <button class='btng edit' type="button"
                id="alternativeAdd" value="Add Alternative" title="Add"
                data-toggle="tooltip"
                data-type="alternative"
                data-html-tag="input">
          <div class='icon'>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class='text'>
            <span>Add</span>
          </div>
        </button>

        <button class='btng cancel' type="button"
                id="alternativeCancel" value="Cancel" title="Cancel"
                data-toggle="tooltip"
                data-type="alternative" hidden>
          <div class='icon'>
            <i class="fa fa-stop-circle" aria-hidden="true"></i>
          </div>
          <div class='text'>
            <span>Cancel</span>
          </div>
        </button>

        <button class='btng save' type="button"
                id="alternativeSave" value="Save" title="Save"
                data-toggle="tooltip"
                data-langcode="{{ language.code }}"
                data-concept="{{ concept.id }}"
                data-input-id="#alternativeInput"
                data-parent-id="#alternativeList"
                data-href="{% url 'add_property' language.code concept.id 'altLabel' %}"
                data-type="alternative" hidden>
          <div class='icon'>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </div>
          <div class='text'>
            <span>Save</span>
          </div>
        </button>
      </div>
    </div>

    <div id="alternativeList">
      {% for alternative in concept.altLabel %}
        <div class="alternative-item">
          <i id="alternative{{ alternative.id }}"
             class="status-{{ alternative.status }}">
            {{ alternative.value }};

            {% if alternative.status != DELETED_PENDING %}
            <button class='btng centerMe removeParent' type="submit" value="X"
                    data-field-id="#alternative{{ alternative.id }}"
                    data-type="alternative"
                    data-href="{% url 'remove_property' alternative.id %}">
              <div class='icon'>
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
              <div class='text'>
                <span>Delete</span>
              </div>
            </button>
            {% endif %}
          </i>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Definition -->
  <div class="definition text-area element">
    <h5 class="h5">Definition</h5>
      {% include 'edit/bits/property.html' with property_name='definition' html_tag='textarea' %}
      {% if concept.default_definition %}
        <p class="alert empty-text" id="definitionEmpty">
          Definition is not available for the current language.
        </p>
      {% endif %}
  </div>

  <!--Source-->
  <div class="source text-area element">
    <span>Source:</span>
      {% include 'edit/bits/property.html' with property_name='source' html_tag='input' %}
      {% if not concept.source %}
        <p class="alert empty-text" id="sourceEmpty"> Source is not available. </p>
      {% endif %}
  </div>

  <!-- Themes -->
  <div class="themes text-area">
    <h5 class="h5">Themes</h5>
    <div class="element">
      {% include 'edit/bits/relation_buttons.html' with type='theme' button_label='Add Theme' link='false' %}
      {% include 'edit/bits/theme_group.html' with type='theme' concept_list=concept.themes %}
    </div>
  </div>

  <!-- Groups -->
  <div class="groups text-area">
    <h5 class="h5">Groups</h5>
    <div class="element">
      {% include 'edit/bits/relation_buttons.html' with type='group' button_label='Add Group' link='false' %}
      {% include 'edit/bits/theme_group.html' with type='group' concept_list=concept.groups %}
    </div>
  </div>

  <!-- Related terms -->
  <div class="related-terms text-area">
    <h5 class="h5">Related terms</h5>

    <!-- Broader -->
    <div class="dl-inline">
      <div class="element">
        <div class="dl-header">
          <h6 class="dt">Broader</h6>
          {% include 'edit/bits/relation_buttons.html' with type='broader' button_label='Add Broader Term' link='true' %}
        </div>
        {% include 'edit/bits/related_terms.html' with type='broader' concept_list=concept.broader_concepts %}
      </div>
    </div>
    <!-- Related -->
    <div class="dl-inline">
      <div class="element">
        <div class="dl-header">
          <h6 class="dt">Related</h6>
          {% include 'edit/bits/relation_buttons.html' with type='related' button_label='Add Related Term' link='true' %}
        </div>
        {% include 'edit/bits/related_terms.html' with type='related' concept_list=concept.related_concepts %}
      </div>
    </div>
    <!-- Narrower -->
    <div class="dl-inline">
      <div class="element">
        <div class="dl-header">
          <h6 class="dt">Narrower</h6>
          {% include 'edit/bits/relation_buttons.html' with type='narrower' button_label='Add Narrower Term' link='true' %}
        </div>
        {% include 'edit/bits/related_terms.html' with type='narrower' concept_list=concept.narrower_concepts %}
      </div>
    </div>
  </div>

  <!-- Other relations -->
  <div class="other-relations text-area">
    <h5 class="h5">Other relations</h5>
    <div class="element">
      <div class="input-area" hidden>
        <label class="otherInput" for="Value" >Value:</label>
        <input class="otherInput" type="text" id='otherValue' value="" data-type="other" />
        <label class="otherInput" for="Url" >Url:</label>
        <input class="otherInput" type="url" id='otherUrl' value="" data-type="other" />
        <select id="otherSelect">
          {% for type in foreign_relation_types %}
            <option value="{{ type.id }}" data-label="{{ type.name }}">{{ type.label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="button-elements">
        <button class='btng add' type="button"
                id="otherAdd" value="Add Other Term" title="Add"
                data-toggle="tooltip"
                data-type="other"
                data-input-id="#otherSelect">
          <div class='icon'>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class='text'>
            <span>Add Other Term</span>
          </div>
        </button>

        <button class='btng cancel' type="button"
                id="otherCancel" value="Cancel" title="Cancel"
                data-toggle="tooltip"
                data-type="other" hidden>
          <div class='icon'>
            <i class="fa fa-stop-circle" aria-hidden="true"></i>
          </div>
          <div class='text'>
            <span>Cancel</span>
          </div>
        </button>

        <button class='btng save' type="button"
                id="otherSave" value="Save" title="Save"
                data-toggle="tooltip"
                data-langcode="{{ language.code }}"
                data-concept="{{ concept.id }}"
                data-type="other"
                data-url-input-id="#otherUrl"
                data-field-id="#otherList"
                data-value-input-id="#otherValue"
                data-select-id="#otherSelect"
                data-href="{% url 'add_other' language.code concept.id %}" hidden>
          <div class='icon'>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </div>
          <div class='text'>
            <span>Save</span>
          </div>
        </button>
      </div>
    </div>
    <ul class="dl-inline no-list" id="otherList">
      {% regroup concept.visible_foreign_relations by property_type__label as foreign_relations %}
      {% for foreign_relation in foreign_relations %}
      <div class="foreign-relation" data-value="{{ foreign_relation.grouper }}">
        <li>
          <span class="">{{ foreign_relation.grouper }}</span>
          <div class="foreign-elements">
          {% for relation in foreign_relation.list %}
            <div class="status-{{ relation.status }} other-item" id="other{{ relation.id }}">
              <a href="{{ relation.uri }}">{{ relation.label }}</a>

              {% if relation.status == DELETED_PENDING %}
              <button class='btng centerMe restoreParent'
                      type="button"
                      data-type="other"
                      data-field-id="#other{{ relation.id }}"
                      data-href="{% url 'restore_other' language.code concept.id relation.id %}">
                <div class='icon'>
                  <i class="fa fa-undo" aria-hidden="true"></i>
                </div>
                <div class='text'>
                  <span>Restore</span>
                </div>
              </button>

              {% else %}
              <button class='btng centerMe removeParent'
                      type="button"
                      data-type="other"
                      data-field-id="#other{{ relation.id }}"
                      data-href="{% url 'remove_other' language.code concept.id relation.id %}">
                <div class='icon'>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class='text'>
                  <span>Delete</span>
                </div>
              </button>
              {% endif %}
            </div>
          {% endfor %}
          </div>
        </li>
      </div>
      {% endfor %}
    </ul>
  </div>

  <!-- Scope -->
  <div class="scope text-area element">
    <h5 class="h5">Scope note</h5>
      {% include 'edit/bits/property.html' with property_name='scopeNote' html_tag='input' %}
      {% if not concept.scopeNote %}
        <span id='scopeNoteEmpty' class="alert empty-text">Scope note is not available.</span>
      {% endif %}
  </div>

  <!-- Concept URL -->
  <h5 class="h5 h5-url">
    Concept URL: {{ concept.url }}
  </h5>
</div>
{% endblock %}

{% block version %}
  {% include 'version.html' with version=ns_version %}
{% endblock %}

{% block js %}
  {% include 'edit/bits/js_scripts.html' %}
{% endblock %}
