{% extends layout_template %}
{% load gemet_tags %}

{% block title %}
 {% get_concept_name concept.name concept.id status_values as name %}
 Edit {{ name|striptags }}
{% endblock %}

{% block content %}
{% include 'header.html' with view='group' code=concept.code %}
<div class="edit-page">

  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <button class="expand-button"><i class="fa fa-language" aria-hidden="true"></i></button>
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in concept.translations %}
      <li class="clearfix">
        <div class="dt">{{ translation.language__name }}</div>
        <div class="dd">{{ translation.value }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Back to group -->
  <span>
    <a class="btn btn-primary"
       href="{% url 'group' language.code concept.code %}"
       >Back</a>
  </span>
  {% if concept.status == 0 %}
  <span>
    <a class="btn"
       href="{% url 'concept_delete' language.code concept.id %}"
       >Delete group</a>
  </span>
  {% endif %}
  <!-- Group -->
  <div class="h3 element">
    {% include 'edit/bits/property.html' with property_name='prefLabel' html_tag='input' %}
  </div>

  <!-- Definition -->
  <div class="definition text-area element">
    <h5 class="h5">Definition</h5>
    {% include 'edit/bits/property.html' with property_name='definition' html_tag='textarea' %}
  </div>

  <!-- Broader -->
  <div class="broader text-area">
    <h5 class="h5">Super groups</h5>
    <div class="element">
    {% include 'edit/bits/relation_buttons.html' with type='broader' button_label='Add Super Group' link='false' %}
    {% include 'edit/bits/theme_group.html' with type='broader' concept_list=concept.broader_concepts %}
    </div>
  </div>

  <!-- Concepts -->
  <div class="groupMember text-area">
    <h5 class="h5">Concepts</h5>
    <div class="element">
    {% include 'edit/bits/relation_buttons.html' with type='groupMember' button_label='Add Concepts' link='false' %}
    {% include 'edit/bits/theme_group.html' with type='groupMember' concept_list=concept.groupMember_concepts %}
    </div>
  </div>

  <!-- Concept URL -->
  <h5 class="h5 h5-url">
    Concept URL: {{ concept.url }}
  </h5>

</div>
{% endblock %}

{% block version %}
    {% include 'version.html' %}
{% endblock %}

{% block js %}
  {% include 'edit/bits/js_scripts.html' %}
{% endblock %}

