{% extends layout_template %}
{% load gemet_tags %}
{% load static %}

{% block title %}
 {% get_concept_name concept.name concept.id status_values as name %}
 Edit {{ name|striptags }}
{% endblock %}

{% block content %}
    {% include 'header.html' with view='supergroup' code=concept.code %}
<div class="edit-page">

  <!-- Side bar -->
  <div class="side-bar box">
    <!-- Translations -->
    <button class="expand-button"><img src="{% static 'thesaurus/img/language-icon.png' %}"/></button>
    <h6 class="no-margin-top">Translations</h6>
    <ul id="translations" class="dl-inline no-list">
      {% for translation in concept.translations %}
      <li class="clearfix">
        <div class="dt">{{ translation.language__name }}</div>
        <div class="dd">{{ translation.value }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Back to supergroup -->
  <p>
    <a class="btn btn-primary"
       href="{% url 'supergroup' language.code concept.code %}"
       >Back</a>
  </p>

  {% if concept.status == 0 %}
  <p>
    <a class="btn"
       href="{% url 'concept_delete' language.code concept.id %}"
       >Delete supergroup</a>
  </p>
  {% endif %}
  <!-- Supergroup -->
  <div class="text-area element">
    <h5 class="h5">Name</h5>
    <div class="h3 element">
      {% include 'edit/bits/property.html' with property_name='prefLabel' html_tag='input' %}
    </div>
  </div>
  <!-- Definition -->
  <div class="definition text-area element">
    <h5 class="h5">Definition</h5>
    {% include 'edit/bits/property.html' with property_name='definition' html_tag='textarea' %}
  </div>

  <!-- Scope -->
  <div class="scope text-area element">
    <h5 class="h5">Scope note</h5>
    {% include 'edit/bits/property.html' with property_name='scopeNote' html_tag='input' %}
  </div>

  <!-- Groups -->
    <div class="text-area">
      <h5 class="h5">Groups</h5>
      {% include 'edit/bits/relation_buttons.html' with type='narrower' button_label='Add Groups' link='false' %}
      {% include 'edit/bits/theme_group.html' with type='narrower' concept_list=concept.narrower_concepts %}
    </div>

  <!-- Concept URL -->
    <div class="text-area">
      <h5 class="h5 h5-url">Concept URL:
      {{ concept.url }}
      </h5>
    </div>

</div>

{% endblock %}

{% block version %}
    {% include 'version.html' %}
{% endblock %}

{% block js %}
  {% include 'edit/bits/js_scripts.html' %}
{% endblock %}
