{% load gemet_tags %}
  <ul id="{{ type }}" class="listing">
    {% for parent in concept_list %}
      <li id="{{ type }}{{ parent.id }}"
          value="{{ parent.id }}"
          class="status-{{ parent.status }}">
        {{ parent.name }}
          <button class='btng centerMe removeParent' type="button" data-field-id="#{{ type }}{{ parent.id }}"
                       data-href="{% url 'remove_parent' language.code concept.id parent.id type %}"
                       data-type="{{ type }}">
          <div class='icon'>
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class='text'>
              <span>Delete</span>
           </div>
          </button>
      </li>
    {% endfor %}
  </ul>
