AUTH_LDAP_SERVER_URI=
DJANGO_LOG_LEVEL=INFO
DEBUG=True
SECRET_KEY=secret_key
FORCE_SCRIPT_NAME=
PLONE_URL=
TZ=Europe/Copenhagen

POSTGRES_PASSWORD=demo
POSTGRES_DATABASE=gemet
POSTGRES_HOST=postgresql
POSTGRES_ADDR=db
POSTGRES_USER_PASSWORD=gemet
POSTGRES_USER=gemet
