<div class="text-area">
  <!-- prefLabel -->
  <div>
    {% if prefLabel %}
      <h5>Name</h5>
      {% for property in prefLabel %}
        <div class="status-{{ property.status }}">{{ property.value }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- altLabel -->
  <div>
    {% if altLabel %}
      <h5>Alternatives</h5>
      {% for property in altLabel %}
        <div class="status-{{ property.status }}">{{ property.value }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- definition -->
  <div>
    {% if definition %}
      <h5>Definition</h5>
      {% for property in definition %}
        <div class="status-{{ property.status }}">{{ property.value }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <!--source -->
    {% if source %}
      <h5>Source</h5>
      {% for property in source %}
        <div class="status-{{ property.status }}">{{ property.value }}</div>
      {% endfor %}
    {% endif %}

  <!--scopeNote -->
  <div>
    {% if scopeNote %}
      <h5>Scope Note</h5>
      {% for property in scopeNote %}
        <div class="status-{{ property.status }}">{{ property.value }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <!--theme -->
  <div>
    {% if theme %}
      <h5>Themes</h5>
      {% for relation in theme %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <!--group -->
  <div>
    {% if group %}
      <h5>Groups</h5>
      {% for relation in group %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <!--related terms -->
  <div>
    {% if related %}
      <h5>Related terms</h5>
      {% for relation in related %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <!--narrower terms -->
  <div>
    {% if narrower %}
       {% if namespace == 'Super groups' %}
         <h5>Groups</h5>
       {% else %}
         <h5>Narrower terms</h5>
       {% endif %}
      {% for relation in narrower %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
   <div>
    {% if broader %}
       {% if namespace == 'Groups' %}
         <h5>Super groups</h5>
       {% else %}
         <h5>Broader terms</h5>
       {% endif %}

      {% for relation in broader %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <!--theme concepts -->
  <div>
    {% if themeMember %}
      <h5>Concepts</h5>
      {% for relation in themeMember %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <!--supergroups -->
  <div>
    {% if groupMember %}
      <h5>Concepts</h5>
      {% for relation in groupMember %}
          <p class="status-{{ relation.status }}">{{ relation.target }}</p>
      {% endfor %}
    {% endif %}
  </div>
   <!--foreign relations -->
   {% if foreign_relations %}
   <div>
    <h5>Other relations</h5>
    {% regroup foreign_relations by property_type as grouped_foreign_relations %}
    {% for foreign_relation in grouped_foreign_relations %}
    <ul>
      <h6 class="inline">{{ foreign_relation.grouper }}: </h6>
      {% for relation in foreign_relation.list %}
          <li class="inline status-{{ relation.status }}">
          <a href="{{ relation.uri }}">{{ relation.label }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
  {% endif %}
</div>
