{% load gemet_tags %}
<div>
  <ul id="{{ type }}" class="listing">
    <div class="elements-list" id="{{ type }}list" >
    {% for parent in concept_list %}
      <li id="{{ type }}{{ parent.id }}"
          value="{{ parent.id }}"
          class="status-{{ parent.status }}">
        {{ parent.name }}

          {% if parent.status == DELETED_PENDING %}
          <button class='btng waves-effect waves-light btn restoreRelation'
                  type="button"
                  data-field-id="#{{ type }}{{ parent.id }}"
                  data-href="{% url 'restore_relation' concept.id parent.id type %}"
                  data-type="{{ type }}">
              <i class="fa fa-undo" aria-hidden="true"></i>
          Restore
          </button>

          {% else %}
          <button class='btng waves-effect waves-light btn deleteRelation'
                  type="button"
                  data-field-id="#{{ type }}{{ parent.id }}"
                  data-href="{% url 'delete_relation' concept.id parent.id type %}"
                  data-type="{{ type }}">
              <i class="fa fa-times" aria-hidden="true"></i>
          Delete
          </button>
          {% endif %}
      </li>
    {% endfor %}
    </div>
  </ul>
</div>
