.direction-rtl {
    direction: rtl;
    text-align: right !important;
}

.results-nr {
    float: right;
}

#search-bar {
}

#left-box {
    width: 50%;
    float: left;
}

#right-box {
    margin-left: 51%;
}

.footer-menu {
    margin-top: 20px;
}

.pagination {
    margin-top: 25px;
}

a.btn, .pagination a, .letter-pagination a {
    text-decoration: none;
}
