</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://www.eionet.europa.eu/styles/eionet2007/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.eionet.europa.eu/styles/eionet2007/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="https://www.eionet.europa.eu/styles/eionet2007/handheld.css" media="handheld" />
    <link rel="shortcut icon" href="http://www.eionet.europa.eu/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="https://www.eionet.europa.eu/styles/eionet2007/eealogo256x256.png" type="image/png" />
    <link rel="start" title="Home" href="http://www.eionet.europa.eu/" />
    <link rel="alternate" type="application/rss+xml" title="Eionet headlines" href="http://www.eionet.europa.eu/announcements.rdf" />
    <style type="text/css">
/*<![CDATA[*/
.archrule {
    border: 1px solid black;
    width: 40%;
    background-color: rgb(255,255,153);
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#explanation {

    background-color:#f4f3f1;
    margin-top: 1em;
    border:1px solid #b1acae;

}
#explanation p {
    margin-top:0;
    padding:0 10px 1em 10px;
}
#explanation h1 {
    background:transparent;
    color:black;
    text-transform: none;
    padding:0 10px;
    margin:0;
}

#rightcolumn h2 {
    font-size: 120%;
    text-align: center;
}


.localservice {
    margin: 2em 1em 0em 1em;
    background-color: #a5ced1;
    padding: 0.5em;
    text-align: center;
}

.localservice h2 {
    padding-top: 0;
    margin-top: 0;
    font-size: 120%;
}

/*]]>*/
    </style>
    <script type="text/javascript" src="https://www.eionet.europa.eu/styles/eionet2007/pageops.js"></script>
    <script type="text/javascript" src="https://www.eionet.europa.eu/styles/eionet2007/mark_special_links.js"></script>
    <script type="text/javascript">
//<![CDATA[
function addsite() {
 f = document.getElementById('freesrchfld');
 f.value = f.value + ' site:.eionet.europa.eu';
 return true;
}
//]]>
    </script>
